<!DOCTYPE html>
<html>

    <head>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script>
            var map;
            var startDisplay = true;
            var userPosition;
            var googleapiString;
            var yelpapiString;
            var truckIcon = 'http://i.imgur.com/IUFh2mB.png';
            var trucks = [];

            function initTrucks() {
      <% for(var i=0; i<tdata.length; i++) {%>
        trucks.push(createTruck("<%= tdata[i].name %>", "<%= tdata[i].day %>", "<%= tdata[i].time %>", {lat: <%= tdata[i].latitude %>, lng: <%= tdata[i].longitude %>}));
        <% } %>
		  trucks.push(createTruck('csLab Truck', 'Wednesday', 'lunch', {lat: 42.349951,lng: -71.106968}));
		}

            function updateTrucks() {
                for (var i = 0; i < trucks.length; i++) {
                    if (trucks[i].isVisible) {
                        trucks[i].marker.setMap(map);
                    } else {
                        trucks[i].marker.setMap(null);
                    }
                }
            }

            function testingArray() {
                trucks.push(createTruck('Houston Truck', "Monday", "lunch", {
                    lat: 29.725931,
                    lng: -95.312063
                }));
                trucks.push(createTruck('New York Truck', 'tuesday', 'dinner', {
                    lat: 42.807419,
                    lng: -75.095306
                }));
                trucks.push(createTruck('csLab Truck', 'Wednesday', 'lunch', {
                    lat: 42.349951,
                    lng: -71.106968
                }));
                trucks.push(createTruck('Science Building', "friday", "breakfast", {
                    lat: 42.348688,
                    lng: -71.100111
                }));
                trucks.push(createTruck('GSU Truck', 'thursday', 'breakfast', {
                    lat: 42.350716,
                    lng: -71.108427
                }));
                trucks.push(createTruck('H Truck', 'thursday', 'breakfast', {
                    lat: 42.350716,
                    lng: -71.108427
                }));
            }

            var id_iterator = 0;

            function createTruck(name, day, time, position) {
                var id = id_iterator;
                id_iterator++;
                var truck = {
                    id: id,
                    marker: null,
                    name: name,
                    day: day,
                    time: time,
                    position: position,
                    isVisible: true
                };
                return truck;
            }

            function createMarker(truck) {
                var marker = new google.maps.Marker({
                    position: truck.position,
                    icon: truckIcon,
                    title: truck.name
                });
                marker.addListener('click', function() {
                    var infowindow = createInfoWindow(truck);
                    infowindow.open(map, truck.marker);
                });
                return marker;
            }

            function createInfo(truck) {
                var info = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h1 id="firstHeading" class="firstHeading">' + truck.name + '</h1>' + '<div id="bodyContent">' + '<p>Some info about <b>' + truck.name + '</b> maybe from Yelp.</p>' + '<p>' + truck.id + '</p>' + '</div>' + '</div>';
                return info;
            }

            function createInfoWindow(truck) {
                var infowindow = new google.maps.InfoWindow({
                    content: createInfo(truck)
                });
                return infowindow;
            }

            function getUserPosition() {
                var infoWindow;
                var pos;
                if (navigator.geolocation) {
                    infoWindow = new google.maps.InfoWindow({
                        map: map
                    });
                    navigator.geolocation.getCurrentPosition(function(position) {
                        pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        infoWindow.setPosition(pos);
                        infoWindow.setContent('Location found.');
                        map.setCenter(pos);
                    }, function() {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else { // Browser doesn't support Geolocation
                    pos = map.getCenter();
                    handleLocationError(false, infoWindow, pos);
                }
                return pos;
            }

            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ? 'Error: The Geolocation service failed.' : 'Error: Your browser doesn\'t support geolocation.');
            }

            // API, BELOW FUNCTIONS ARE FOR USE IN HTML

            function initMap() {
                trucks = [];
                updateListView();
                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 12,
                    center: {
                        lat: 42.349951,
                        lng: -71.106968
                    }
                });
                userPosition = getUserPosition();
                initTrucks();
                //testingArray();
				updateListView();
                for (var i = 0; i < trucks.length; i++) {
                    trucks[i].marker = createMarker(trucks[i]);
                }
                updateTrucks();
            }

            function updateListView() {
                document.getElementById("truckList").innerHTML = "";
                for (var i = 0; i < trucks.length; i++) {
                    document.getElementById("truckList").innerHTML += "<li id='trucks[" + i + "]' onclick='populateTruckInfo(trucks[" + i + "])'><h3>" + trucks[i].name + "</h3></li>";
                }
            }

			function populateTruckInfo(selectedTruck) {
				if (startDisplay) {
					document.getElementById("displayWindow").style.backgroundImage = "none";
					document.getElementById("welcomeScreen").style.display = "none";
					document.getElementById("truckInfo").style.display = "block";
					startDisplay = false;
				}
				var currentTime = new Date();
				var meridian = ((currentTime.getHours() < 12) ? "a.m." : "p.m.");
				var hour = currentTime.getHours()%12;
				var minutes = "0"+currentTime.getMinutes();
				minutes = minutes.substr(minutes.length-2);
				var displayTime = hour+":"+minutes+meridian;
				document.getElementById("currentTime").innerHTML = "<h1>It's "+displayTime+"</h1>";
				document.getElementById("truckName").innerHTML = "<h1>"+selectedTruck.name+"</h1>";
				document.getElementById("truckTime").innerHTML = "<h2>"+selectedTruck.time+"</h2>";
				document.getElementById("truckDay").innerHTML = "<h2>"+selectedTruck.day+"</h2>";
			}
        </script>

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC48D2TwY-5Xjry0yRi2Ko4EQ8qjndjQt0&callback=initMap"></script>

        <title>Food Truck Finder</title>
        <style>
            body {
                color: #000000;
                font-family: Roboto;
            }

            @media all and (max-height: 690px) {
                #listTitle { display: none; }
				.textColumn h1 {font-size: 9vh;}
            }

            .textColumn {
                color: white;
                position: fixed;
                top: 0;
                right: 75%;
                left: 0;
                bottom: 60%;
                padding: 1em 2em 2em 2em;
                background-color: #F63440;
            }

            .textColumn h1 {
                font-weight: bold;
				font-size: 2.75em;
            }

            .textColumn h2 {
                font-weight: normal;
                font-size: 2.25vw;
            }

            #inputField {
                padding-left: 5%;
                width: 80%;
                height: 2.75em;
                border-style: none;
                font-family: Roboto;
                font-weight: bold;
            }

            #searchBarImg {
                position: absolute;
                margin-left: 2.5%;
                color: black;
                float: left;
                font-size: 250%;
            }

            #searchBarImg:hover {
                font-size: 225%;
            }

            #actualList {
                color: white;
                position: fixed;
                top: 40%;
                left: 0;
                right: 75%;
                bottom: 0;
                background-color: #F63440;
				padding:0em 2em;
				overflow-y: auto;
            }

            #truckList {
                top: 0;
                bottom: 0;
                list-style-type: none;
                padding: 0;
                border: 0 solid #ddd;
                border-width: 2px 0 0 0;
            }

            #truckList li {
                padding: 0.5em 0;
                border: 0 solid #ddd;
                border-width: 0 0 2px 0;
                text-align: left;
                margin: 0;
                -webkit-transition: width 2s;
                transition: width 2s;
            }

            #truckList li:hover {
                background-color: #E83440;
            }

			#mapWrapper {
				position: fixed;
                top: 0;
                left: 25%;
                right: 0;
				bottom:48%;

                /*bottom: 48%;
                width: 75%;*/
			}

            #map {
				height:100%;
				width:100%;
            }

            #displayWindow {
                background-image: url(http://i.imgur.com/nmm0Fbj.jpg);
                background-size: 100%;
                position: fixed;
                left: 25%;
				top:52%;
				bottom:0;
				right:0;
				color:white;

					/*height: 52%;
					top: 48%;
					width: 75%;*/
            }

            #truckInfo {
				display: none;
                color: black;
				padding-left: 2em;
            }

			#truckTime {
				margin-left: 2em;
			}

			#truckDay {
				margin-left: 2em;
			}

			iframe {
				position: absolute;
				height: 100%;
				width: 100%;
				right: 0%;
				bottom: 0%;
				border-style: none;
			}

        </style>
    </head>

    <body>
        <div class="textColumn">
            <h1>Food Truck App</h1>
			<hr style="color:white; margin-bottom:2.0vw;">
			<div id="listTitle">
                <h2>Search for a Truck!</h2>
            </div>
            <form action="/tdata" method="POST">
				<input type="text" placeholder="day" name="day">
				<button type="submit">Submit</button>
            <!--<input id="inputField" type="text" placeholder="Search for a truck!"></input>
            <i class="fa fa-search" id="searchBarImg" onclick="searchFor()"></i>-->
            </form>
        </div>

        <div id="actualList">
            <ul id="truckList"></ul>
        </div>

		<div id="mapWrapper">
			<div id="map"></div>
		</div>

        <div id="displayWindow">
			<div id="welcomeScreen">
				<h1 align="center">Hungry? Look above to see what's nearby!</h1>
				<h2 align="center">Or, if you know what you're in the mood for, use the search bar to find what hits the spot.</h2>
			</div>
            <div id="truckInfo">
				<div id="currentTime"></div>
				<div id="truckName"></div>
				<div id="truckTime"></div>
				<div id="truckDay"></div>
			</div>
        </div>

    </body>

</html>
